<div class="d-felx">
  <nav class="navbar navbar-light d-felx justify-content-start bg-light">
    <div class="container justify-content-between">
      <div class="d-flex w-50">
        <input class="form-control mx-1" [(ngModel)]="id" type="text" />
        <button
          (click)="GetInvoice(id)"
          class="mx-2 btn btn-outline-success"
          type="submit"
        >
          Search
        </button>
      </div>
    </div>
  </nav>
</div>

<div class="m-auto container">
  <div class="w-50 text-left my-3">
    <label>invoice ID:</label>
    <input class="form-control" [(ngModel)]="invoiceId" type="text" />
  </div>

  <div class="w-50 my-3">
    <label>Customer Name:</label>
    <input class="form-control" [(ngModel)]="customerName" type="text" />
  </div>
  <div class="w-50 my-3">
    <label>Date:</label>
    <input class="form-control" [(ngModel)]="date" type="text" />
  </div>
</div>

<table class="table container my-5 text-center">
  <thead>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </thead>

  <tbody>
    <tr *ngFor="let element of getInvoiceDetails">
      <td>{{ element.item }}</td>
      <td>{{ element.price }}</td>
      <td>{{ element.quantity }}</td>
      <td>{{ element.totalAmount }}</td>
    </tr>
  </tbody>
</table>

<div class="container ">
 <div class="row ">

     <div class=" col-xl-6">
         <label>Quantity:</label>
         <input class="form-control" [(ngModel)]="itemsCount" type="text" />
        </div>
        <div class="col-xl-6">
            <label>Total:</label>
            <input class="form-control" [(ngModel)]="totalAmount" type="text" />
        </div>
    </div>
</div>
<div class="my-5 container border border-primary border-bottom-0 border-bottom"></div>

<div class="container  ">
    <div class=" w-50 mt-5 ">
        <label>DeleteInvoice:</label>
        <div class="d-flex">
            <input class="form-control" [(ngModel)]="deleteId" type="text" />
            <button (click)="DeleteInvoice()" class="mx-2 btn btn-outline-danger">
                Delete
            </button>
        </div>
    </div>
  </div>
<br />

<br />

<div class="container d-flex justify-content-between">
  <div class="w-25">
    <button (click)="AddButton()" class="w-50 btn btn-outline-info">
     <a href="#form" class="text-decoration-none">
         Add invoice
        </a>
    </button>
  </div>
  <div class="w-25">
    <button (click)="UpdateButton()" class="w-50 btn btn-outline-info">
     <a href="#form" class="text-decoration-none">
      Update invoice
    </a>
    </button>
  </div>
  <div class="w-25">
    <button (click)="clearButton()" class="w-50 btn btn-outline-danger">
      Clear Form
    </button>
  </div>
</div>

<br />
<form
id="form"
  class="container"
  [formGroup]="invoiceForm"
  (ngSubmit)="addInvoice(invoiceForm)"
  *ngIf="addFlag"
>
  <div class="  mt-5 ">
    <h2>Add New Invoice</h2>
    
    <div class="row w-50 ">
        <div class="col-xs-2">
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Invoice ID:</label>
                <input class="form-control" formControlName="invoiceId" type="text" />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Customer Name:</label>
                <input
                class="form-control"
                formControlName="customerName"
                type="text"
                />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Date:</label>
                <input class="form-control" formControlName="dateTime" type="date" />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Items Count:</label>
                <input
                class="form-control"
                formControlName="itemsCount"
                type="number"
                />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Total Amount:</label>
                <input
                class="form-control"
                formControlName="totalAmount"
                type="number"
                />
      </div>
    </div>

      <div
      formArrayName="invoiceDetails"
        *ngFor="
        let item of invoiceForm.get('invoiceDetails').controls;
        let i = index
        "
        >
        <div class="details-form-group" [formGroupName]="i">
            <div class="form-group mt-3">
            <label [attr.for]="'itemName' + i">Item{{i+1}}:</label>
            <input
              class="form-control"
              [id]="'item' + i"
              formControlName="item"
              type="text"
            />
          </div>
          <div class="form-group mt-3">
            <label [attr.for]="'item' + i">Price:</label>
            <input
              class="form-control"
              [id]="'price' + i"
              formControlName="price"
              type="number"
            />
          </div>
          <div class="form-group mt-3">
            <label [attr.for]="'quantity' + i">Quantity:</label>
            <input
              class="form-control"
              [id]="'quantity' + i"
              formControlName="quantity"
              type="number"
            />
          </div>
          <div class="form-group mt-3">
            <label [attr.for]="'itemAmount' + i">Item Amount:</label>
            <input
              class="form-control"
              [id]="'totalAmount' + i"
              formControlName="totalAmount"
              type="number"
            />
          </div>
          <div class=" d-flex justify-content-end">
            <button
              class="btn btn-outline-danger my-3"
              type="button"
              (click)="removeDetailsButton(i)"
            >
              Remove Item
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex my-3 justify-content-between">
          <button
          class="btn btn-outline-secondary mt-3 mx-2 w-25"
          type="submit"
          [disabled]="invoiceForm.invalid"
          >
          Add Invoice
        </button>
        <button
          class="btn btn-outline-warning mt-3 w-25"
          type="button"
          (click)="addDetailsButton()"
        >
          Add Item
        </button>
      </div>
    </div>
  </div>
</form>


<form
id="form"
  class="container"
  [formGroup]="invoiceForm"
  (ngSubmit)="updateInvoice(invoiceForm)"
  *ngIf="updateFlag"
>
  <div class="  mt-5 ">
    <h2>Update Invoice</h2>
    
    <div class="row w-50 ">
        <div class="col-xs-2">
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">invoice ID:</label>
                <input class="form-control" [(ngModel)]="invoiceId" formControlName="invoiceId" type="text" />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Customer Name:</label>
                <input
                class="form-control"
                [(ngModel)]="customerName"
                formControlName="customerName"
                type="text"
                />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Date:</label>
                <input class="form-control" [(ngModel)]="date" formControlName="dateTime" type="date" />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Items Count:</label>
                <input
                class="form-control"
                [(ngModel)]="itemsCount"
                formControlName="itemsCount"
                type="number"
                />
            </div>
            <div class="form-group mt-3">
                <label for="exampleFormControlInput1">Total Amount:</label>
                <input
                class="form-control"
                [(ngModel)]="totalAmount"
                formControlName="totalAmount"
                type="number"
                />
      </div>
    </div>
    
      <div
      formArrayName="invoiceDetails"
      *ngFor="
        let item of invoiceForm.get('invoiceDetails').controls;
        let i = index
        "
        >
        <div class="details-form-group" [formGroupName]="i">
            <div class="form-group mt-3">
            <label [attr.for]="'itemName' + i">Item {{i+1}}:</label>
            <input
              class="form-control"
              [id]="'item' + i"
              formControlName="item"
              type="text"
            />
          </div>
          <div class="form-group mt-3">
            <label [attr.for]="'item' + i">Price:</label>
            <input
              class="form-control"
              [id]="'price' + i"
              formControlName="price"
              type="number"
            />
          </div>
          <div class="form-group mt-3">
            <label [attr.for]="'quantity' + i">Quantity:</label>
            <input
              class="form-control"
              [id]="'quantity' + i"
              formControlName="quantity"
              type="number"
            />
          </div>
          <div class="form-group mt-3">
            <label [attr.for]="'itemAmount' + i">Item Amount:</label>
            <input
              class="form-control"
              [id]="'totalAmount' + i"
              formControlName="totalAmount"
              type="number"
            />
          </div>
          <div class=" d-flex justify-content-end">
            <button
              class="btn btn-outline-danger my-3"
              type="button"
              (click)="removeDetailsButton(i)"
            >
              Remove Item
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex my-3 justify-content-between">
          <button
          class="btn btn-outline-secondary mt-3 mx-2 w-25"
          type="submit"
          [disabled]="invoiceForm.invalid"
          >
          Update Invoice
        </button>
        <button
          class="btn btn-outline-warning mt-3 w-25"
          type="button"
          (click)="addDetailsButton()"
        >
          Add Item
        </button>
      </div>
    </div>
  </div>
</form>

